WindowsFormsApp2/Connected Services/AhorcadoWS/ECCI_Ahorcado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:ECCI_Ahorcado" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ECCI_Ahorcado" targetNamespace="urn:ECCI_Ahorcado" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:ECCI_Ahorcado" />
  </wsdl:types>
  <wsdl:message name="intentoIn">
    <wsdl:part name="letra" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="intentoOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ganadorIn" />
  <wsdl:message name="ganadorOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="obtenerPalabraIn">
    <wsdl:part name="nombre" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="obtenerPalabraOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="obtenerDiezIn" />
  <wsdl:message name="obtenerDiezOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="ECCI_AhorcadoPort">
    <wsdl:operation name="intento">
      <documentation>Ahorcado::intento() Saluda al Mundo o a $this-&gt;nombre o saluda a $nombre si $nombre no es vacío.</documentation>
      <wsdl:input message="tns:intentoIn" />
      <wsdl:output message="tns:intentoOut" />
    </wsdl:operation>
    <wsdl:operation name="ganador">
      <documentation>Ahorcado::ganador() Devuelve el tiempo del servidor.</documentation>
      <wsdl:input message="tns:ganadorIn" />
      <wsdl:output message="tns:ganadorOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPalabra">
      <documentation>Ahorcado::obtenerPalabra() Devuelve guardado en la propiedad ultimo_saludo.</documentation>
      <wsdl:input message="tns:obtenerPalabraIn" />
      <wsdl:output message="tns:obtenerPalabraOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDiez">
      <documentation>Ahorcado::obtenerDiez() Devuelve el saludo guardado en la propiedad ultimo_saludo.</documentation>
      <wsdl:input message="tns:obtenerDiezIn" />
      <wsdl:output message="tns:obtenerDiezOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ECCI_AhorcadoBinding" type="tns:ECCI_AhorcadoPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="intento">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#intento" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ganador">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#ganador" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPalabra">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#obtenerPalabra" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDiez">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#obtenerDiez" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ECCI_AhorcadoService">
    <wsdl:port name="ECCI_AhorcadoPort" binding="tns:ECCI_AhorcadoBinding">
      <soap:address location="http://titanic.ecci.ucr.ac.cr/~eb42319/TP2/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>